# Until we publish the research, preliminary results are not publicly available.
/preliminary/

# Ignore big datasets >100Mb
/datasets/methylation.HM450.tsv
/datasets/hormone_meth_bigtable.HM450.tsv
/datasets/subtype_meth_bigtable.HM450.tsv
/datasets/methylation_sigDMD.HM450.tsv
/datasets/expression.IlluminaHiSeq.tsv
/datasets/subtype_expression_bigtable.IlluminaHiSeq.tsv
/datasets/subtype_expression_bigtable.IlluminaHiSeq.corr_genes.tsv

